<template>
  <v-container>
    <v-container fluid>
      <v-row align="center">
        <v-col class="d-flex" cols="12" sm="6">
          <v-card flat>
            <v-card-text>
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-radio-group
                  v-model="questionOne"
                  :mandatory="false"
                  :rules="[v => !!v || 'Выберите вариант']"
                  label="1. Что добавляет возраст?"
                  required
                >
                  <v-radio
                    label="Чистый классический стиль"
                    value="1"
                  ></v-radio>
                  <v-radio label="Чистый спортивный стиль" value="2"></v-radio>
                  <v-radio label="Смесь классики и спорта" value="3"></v-radio>
                </v-radio-group>
                <v-radio-group
                  v-model="questionTwo"
                  :mandatory="false"
                  :rules="[v => !!v || 'Выберите вариант']"
                  label="2. Стоит ли взрослой женщине одеться полностью в романтичном
                    стиле?"
                  required
                >
                  <v-radio
                    label="Да, особенно когда идешь на свидание"
                    value="1"
                  ></v-radio>
                  <v-radio
                    label="Нет, это будет выглядеть глупо. Надо добавлять долю романтики к другим стилям"
                    value="2"
                  ></v-radio>
                  <v-radio
                    label="Можно, если такой образ был на манекене"
                    value="3"
                  ></v-radio>
                </v-radio-group>
                <v-radio-group
                  v-model="questionThree"
                  :mandatory="false"
                  :rules="[v => !!v || 'Выберите вариант']"
                  label="3. Как включать тренды в свой гардероб?"
                  required
                >
                  <v-radio
                    label="Разобраться с долгими и короткими трендами. Долгих трендов брать чуть побольше. Коротких - на один сезон, чтобы сделать образы острыми и интересными"
                    value="1"
                  ></v-radio>
                  <v-radio
                    label="Не трогать тренды - в них тяжело разобраться, подходит только молодежи, зачем позориться"
                    value="2"
                  ></v-radio>
                  <v-radio
                    label="Смотреть модные показы и полностью копировать понравившиеся образы с подиумов"
                    value="3"
                  ></v-radio>
                </v-radio-group>

                <v-text-field
                  v-model="name"
                  :counter="10"
                  :rules="nameRules"
                  label="Имя"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="email"
                  :rules="emailRules"
                  label="E-mail"
                  required
                ></v-text-field>

                <v-btn
                  class="mr-4"
                  @click="submit"
                  :disabled="!valid || localLoading"
                  :loading="localLoading"
                  >Отправить</v-btn
                >
                <v-btn @click="clear">Очистить</v-btn>
              </v-form>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <span class="mt-3 mb-3 d-block">
      data from DataBase:
    </span>
    <pre class="grey">
      polls: {{polls}}
  </pre>
    <pre class="blue-grey">
      users: {{users}}
  </pre>
  </v-container>
</template>

<script>
export default {
  name: "HelloWorld",
  data: () => ({
    localLoading: false,
    valid: false,
    questionOne: "",
    questionTwo: "",
    questionThree: "",
    name: "",
    nameRules: [
      v => !!v || "Введите имя",
      v => (v && v.length <= 10) || "Максимум 10 символов"
    ],
    email: "",
    emailRules: [
      v => !!v || "Введите e-mail",
      v => /.+@.+\..+/.test(v) || "Введите валидный e-mail"
    ]
  }),
  computed: {
    polls() {
      return this.$store.getters.polls
    },
    users () {
      return this.$store.getters.users
    },
  },
  methods: {
    submit() {
      if (this.$refs.form.validate()) {
        this.localLoading = true;
        const formData = {
          answers: {
            1: this.questionOne,
            2: this.questionTwo,
            3: this.questionThree
          },
          userData: {
            name: this.name,
            email: this.email
          }
        };
        this.$store.dispatch("sendAnswers", formData).finally(() => {
          this.localLoading = false;
          this.clear();

        });
      }
    },
    clear() {
      this.$refs.form.reset();
      this.name = "";
      this.email = "";
      this.questionOne = "";
      this.questionTwo = "";
      this.questionThree = "";
    }
  }
};
</script>
