<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
     />
    <v-content>
      <Poll/>
    </v-content>
  </v-app>
</template>

<script>
import Poll from './components/Poll';

export default {
  name: 'App',

  components: {
    Poll,
  },
};
</script>
